.train-banner {
    background-color: #9ee091;
}

.train-section {
    margin: 25px;
}

.train-card-title {
    color: #725689;
}

td {
    color: #503d60;
}

.btn-purple {
    background-color: #503d60;
}